
body /*inheritance*/
{
    background-color: white; /*configuration du background par defaut du site*/
    font-family: 'Raleway', Arial, Helvetica, sans-serif; /*appilcation de la police et de la police par défaut*/
    font-size: 1rem;
    font-style:normal;
    word-wrap: break-word;/* faire que le texte revienne a la ligne*/
    display:grid;
    margin:0;
    grid-template-columns:1fr;
    grid-template-rows:0.1fr 03.fr 1fr 0.5fr 0.2fr; /* revoir les dimensions*/
    grid-template-areas: /*setup tempalte*/
    "header header"
    "filtres filtres"
    "global_hebergement global_hebergement"
    "activite activite"
    "footer footer"
    
}
ul{
  list-style-type: none;
  padding: 0;
  margin:0;
  
}
.recherche__titre__span
{
    font-weight:normal;
    font-size:1rem;
}
a:link , a:visited
{ 
 text-decoration:none; 
 color:#000;
} 
.fas
{
   color:#0065fc;
}
/*---------------------------------------------------------header setting------------------------------------------------------------------------*/
.header
{
    grid-area:header;
    display:grid;
    grid-template-columns:repeat(9,1fr);
    grid-gap:2rem;
    justify-content: center;
    align-items: center;
    /*border:1px solid black;*/
    padding:2rem 2rem 0 2rem ;
    /*margin:0;*/
       
}
.header__Logo
{
  grid-column-start: 1;
  /*border:1px solid black;*/
}
#header__Logo__reservia
{
    width: 1fr; /*valeur fixe ou tout du moins mettre un minimum de largeur*/
    min-width: 16px;
}
.header__menu
{
  grid-column:7/span 3;
  justify-content: space-around;
  justify-items:center;
  display:flex;
  
  /*border:1px solid black;*/
}
.header__menu__list
{
  display:flex;
  justify-content: space-around;
  color:#f2f2f2;
  /*border:1px solid black;*/
  
}
.header__menu__list__hoover:hover
{
border-top:1px solid blue;
color:blue;
}
/*-------------------------------------------------------------Main : Menu --------------------------------------------------------------------*/
/* search tool*/
.recherche
{
    grid-area: filtres;
    padding:0 2rem 2rem 2rem; 
       
}
/***************************search**************************************************/
form
{
    display: inline-flex; /*ajuste la taile de la div au dimension du conteneur*/
    border-radius: 10px;
    border: 1px #f2f2f2 solid;
    height: 2rem; 
    margin-bottom: 1rem;
   
}
.recherche__location
{
    background-color:#f2f2f2;
    border-radius: 8px 00px 00px 8px;
    border: 1px #f2f2f2 solid;
    width:2.5rem;
    height: 1.8rem;    
    text-align: center;
    padding-top:0.1rem;
    
}
.fa-map-marker-alt
{
  font-size:0.75rem;
  color:black
  
}
.search
{
  font-size:0.75rem;
  padding-left: 1rem;
  font-weight: bold;
  border:none;

}
.submit
{
  
  border-radius: 0px 8px 8px 0px;
  background-color: #0065fc;
  border:none;
  color: #ffffff;
  font-size:0.75rem;
  
}


/****************************************** filtres ************************************************************/

.recherche__filtre
{
  
  display:flex; /* attention mettre le flex pour ajuster les dimension au contenu du contenaire*/
  flex-wrap:wrap;
  align-items: center;
  font-weight: bold;
  font-size:1rem;
  margin:1rem 0 2rem 0;
  
}
.recherche__filtre div
{
  margin-right:1rem;
}
.recherche__filtre__contenaire
{
  display:flex;
  border: 1px #f2f2f2 solid;
  border-radius:10rem;
  cursor: pointer;
  flex-wrap:nowrap;

}
.recherche__filtre__contenaire:hover
{
  background-color: #deebff;
  box-shadow: 2px 2px 2px rgba(0,101,252,2);
}
.recherche__filtre__fas
{
  
  background-color: #deebff;  
  text-align: center;
  padding:0.5rem;
  width: 1.5rem;
  height:1.5rem;
  border-radius: 50%;
  display: flex;
  align-items:center;
  justify-content:center;
  
  
}

.recherche__filtre__text
{
  padding:0.5rem 1rem 0.5rem 0 ;
  align-self:center;
  margin:0;
  
}
/************comment **********************/
.information
{
  
  display:flex;
  align-items: center;
  
}
.information__fa /* achever le cadréaged e l'icon et sa taille*/
{
  border:1px black solid;
  margin-right:1rem;
  border-radius: 50%;
  width:1.5rem;
  height:1.5rem;
  font-size:0.75rem;
  text-align: center;
  
}
/* MAIN ----------------------------------------Setup card for "hébergement", "activité", "populaire"--------------------------------------------*/

/*common elements*/
.global_hebergement
{
  grid-area:global_hebergement;
  display:grid;
  grid-template-columns:7fr 3fr;
  grid-auto-rows: auto;
  grid-gap:3rem;
  padding-left:3rem;
  padding-right:2rem;
  margin-bottom: 3rem;
}
h2, em, .Pbold /*ajustement identique sur toutes les sections*/
{
 
    font-weight: bold;
    margin:0;
    padding:0;
}

h3
{
    font-size: 1rem;
    margin:0.5rem;
}
.card_p
{
  margin-left:0.5rem ;
  margin-bottom:0.5rem ;
  margin-top:0;
}
}
.card__stars
{
  /* Le groupe '.stars' positionne les étoiles les unes à côté des autres sans espacements. */
    display: flex; 
    font-size: 1rem;
    margin-left:0.5rem;
}

.fa-star/* Par défaut, une étoile est en gris, avec un padding et un curseur en forme de main. */
{
    color:#f2f2f2;
    /*padding: 0.0625rem;*/
}
.fa-star.blue/* Si elle porte en plus la classe '.gold', elle sera en jaune. */
{
    color: rgb(0, 101, 252);
}
img
{
    max-width: 100%;
    max-height: 100%;
    display: block;
}


/*----------------------------------------------------"Hebergement card setting"------------------------------------------------------------------*/

.hebergement
{
    grid-column-start: 1;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 1px #f2f2f2 solid;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: 0.1fr 2fr 2fr 0.1fr;
    padding:2rem;
    grid-gap:2rem;
   
}
.hebergement h2
{
  grid-row-start: 1;
  grid-column: 1/4;
}
.card1 /*hebergement*/
{
    display:flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow:2px 2px 6px rgb(206, 204, 204) ;
    border: 1px #ffffff solid;
    padding:0.2rem;
    cursor: pointer;
    /*width: 1fr;
    height:1fr;*/
    
    
}
.card1__thumb /*mise en forme image card hebergement*/
{
   
    height: 7rem;       
    border-radius: 10px 10px 0 0;
    
}
.card1__thumb__img
{
    width:100% ; 
    border-radius: 10px 10px 0 0;
}
 /*---------------------------------------------------------"Populaire" card setting"--------------------------------------------------------------*/

.populaire
{
    
  grid-column-start: 2;
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 1px #f2f2f2 solid;
  display:grid;
  grid-template-rows:2rem 1fr 1fr 1fr;
  padding:2rem;
  grid-gap:2rem;
}
.trend
{
  grid-row-start: 1;
  display:flex;
  justify-content: space-between;
   
}
.trend_fa
{
  align-self: baseline;
  color: black;
  font-size: 1rem;

}
.fa-chart-line
{
  color: black;
  font-size: 1.5rem;
  text-align: center;
}
.card2
{
  display:flex;
  /*align-items:stretch;*/
  justify-content: stretch;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow:2px 2px 6px rgb(206, 204, 204) ;
  padding:0.2rem;
  cursor: pointer;

}

  .card2__thumb /*mise en forme image card hebergement*/
{
  /*height: 14rem;  */ 
  border-radius: 10px 00px 0 10px;
  flex-shrink;1 
}
.card2__thumb__img
{
  width:6rem;
  height: 8rem; 
  border-radius: 10px 0px 0 10px; 
}

   /*--------------------------------------------------------"Actitivé" card setting -------------------------------------------------------------*/

   .activite
{
    grid-area: activite;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: 1rem, 1fr;
    padding:2rem;
    grid-gap:2rem;
  
}
.activite h2
{
  grid-row-start: 1;
}
 .card3 
 {
   
   background-color: #ffffff;
   border-radius: 10px;
   box-shadow:2px 2px 6px rgb(206, 204, 204) ;
   border: 1px #ffffff solid;
   width:1fr;
  /* padding:3.25% 3.25% 3.25% 3.25%;*/
   cursor: pointer;
 }
 .card3__thumb /*mise en forme image card hebergement*/
 {
   width: 1fr;   
   border: 1px black solid;     /*#fffff - attention le div doit etre dimansionné*/
   border-radius: 10px 00px 0 10px; 
 }



/*---------------------------------------------------------------footer elements ---------------------------------------------------------------*/
.footer
{
    grid-area:footer;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #f2f2f2;
    padding:2rem;
    line-height: 2rem;
}
   


 /****************************************************MEDIA QUERIES********************************************************************/ 
 

@media screen and (max-width: 768px)
{
  body{
    grid-template-rows:auto;
    grid-template-areas: /*setup tempalte*/
    "header"
    "filtres"
    "global_hebergement"
    "activite"
    "footer"
  }
    .global_hebergement
  {
    /*display:grid;*/
    grid-template-columns:1fr;
    padding:0;
    /*margin-bottom: 3rem;*/
  
  }



/*----------------------------------------------------"Hebergement card setting"------------------------------------------------------------------*/

    .hebergement
    {
        grid-row-start: 2;
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows: repeat(8;1fr);
        background-color: white;
        border:none;
        grid-gap:1rem;
        
    }
      .hebergement h2
      {
        grid-column:1;
        font-style: 1rem;
      }
 /*---------------------------------------------------------"Populaire" card setting"--------------------------------------------------------------*/

  .populaire
  {
      
    grid-row-start: 1;
    grid-column-start: 1;
    grid-gap:1rem;

    
  }
  .activite
{
    grid-template-columns:1fr;
    grid-template-rows: 1rem repeat(6,1fr);
    padding:2;
    grid-gap:1.1rem;
 }
 .card3
 {
   height:1fr;
   width:1fr;
 }
 .footer
 {
  
  grid-template-columns:1fr;
  grid-template-rows: repeat(3,1fr);
 }

}